*,
*::before,
*::after {
    box-sizing: border-box;
}

.logo {
    background-color: transparent;
    height: 239px;
    width: 240px;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 0;
    position: relative;
    left: 65px;
    right: 48px;
}

h1 {
    color: black;
    font-family: 'Teko', sans-serif;
    font-size: 48px;
    margin-bottom: 30px;
    margin-top: 20px;
    max-width: 375px;
    line-height: 45px;
    text-align: center;
}

h2 {
    color: #163346;
    font-family: 'Teko', sans-serif;
    font-size: 26px;
    font-weight: 400;
    height: 60px;
    margin-bottom: 57px;
    margin-top: 20px;
    max-width: 375px;
    text-align: center;
}

h3 {
    border-bottom: 4px solid #163346;
    display: block;
    font-family: 'Teko', sans-serif;
    font-size: 40px;
    height: 50px;
    margin-bottom: 20px;
    margin-top: 0px;
    letter-spacing: 1px;
    width: 140px;
    text-align: left;
}

.character {
    border-bottom: 4px solid #163346;
    color: #eaecf0;
    font-family: 'Teko', sans-serif;
    font-size: 40px;
    font-weight: 300px;
    letter-spacing: 1px;
    line-height: 40px;
    margin-bottom: 25px;
    margin-top: 50px;
    width: 225px;
}

body {
    background-color: #d1d5de;
    font-family: 'BenchNine', sans-serif;
    font-weight: 700;
    max-width: 375px;
}

.button-reset {
    background: #6bf99c;
    border: 6px;
    cursor: pointer;
    display: block;
    font-family: 'Teko', sans-serif;
    font-size: 32px;
    font-weight: 700;
    left: 35px;
    right: 61px;
    height: 87px;
    margin-top: 45px;
    padding-bottom: 10px;
    padding-left: 21px;
    padding-right: 20px;
    padding-top: 15px;
    position: relative;
    text-align: center;
}

​ .button-reset[disabled] {
    cursor: default;
}

.button-reset:hover {
    background: #fff;
    border: 6px solid #6bf99c;
    color: #000;
    padding-bottom: 1px;
    padding-left: 12px;
    padding-right: 11px;
    padding-top: 9px;

}

input,
select,
textarea {
    background-color: #fff;
    font-family: inherit;
    font-size: inherit;
}

select {
    cursor: pointer;
}

textarea {
    height: 50px;
    width: 275px;

}

fieldset {
    border: 0;
    padding: 0px;
}

fieldset label {
    bottom: 8px;
    position: relative;
    bottom: 20px;
    left: 7px;
}

fieldset span {
    display: block;
}

fieldset+fieldset {
    margin-top: 34px;
}

input[type="radio"],
input[type="checkbox"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #1e2019;
    border: 3px solid #d1d5de;
    height: 24px;
    width: 24px;
}

input[type="radio"]:focus,
input[type="checkbox"]:focus {
    border: 3px solid #6bf99c;
}

input[type="radio"]:hover,
input[type="checkbox"]:hover {
    background-color: #1E2019;
    border: 3px solid #6bf99c;
}


input[type="radio"] {
    border-radius: 50%;
}

input[type="radio"]:checked+label,
input[type="checkbox"]:checked+label {
    border-bottom: 4px solid #6bf99c;
    outline: none;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
    background-color: #6bf99c;
}

input[type="text"]:required:valid,
input[type="text"]:required:valid,
input[type="email"]:required:valid {
    background-color: #6bf99c;
}

input[type="text"]:default,
input[type="email"]:default,
input[type="text"]:default {
    background-color: #d1d5de;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="text"]:focus {
    background-color: #fff;
}

/*
input[type="text"]:invalid,
input[type="email"]:invalid,
input[type="text"]:invalid {
    background-color: #C61A3A;
}
*/


input[type="text"]:invalid {}

input[type="text"]:placeholder-shown {}

input[type="text"]:not(placeholder-shown) {}

input[type="text"]:not (:placeholder-shown):invalid {
    background-color: orange;
}

textarea:focus {
    border: 3px solid #6bf99c;
    outline: none;
}

textarea:default {
    background-color: #d1d5de;
}

div {
    background-color: #1e2019;
    color: #eaecf0;
    min-width: auto;
    width: 327px;
    height: auto;
    margin: 24px;
    padding-bottom: 80px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 15px;
    position: relative;
    right: 10px;
}

label {
    font-size: 22px;
    letter-spacing: 1px;
}

input {
    height: 50px;
    width: 291px;
    margin-bottom: 15px;
    margin-top: 12px;
    margin-right: 0px;
}

input#age {
    width: 75px;
    display: block;
    margin-top: 5px;
}

textarea#selfdescribe {
    margin-bottom: 40px;
    width: 291px;
}

textarea#powers {
    height: 175px;
    width: 291px;
}


legend {
    font-family: 'BenchNine', sans-serif;
    font-size: 22px;
    font-weight: 700;
}

p {
    font-size: 20px;
    font-weight: 400;
    color: #D1D5DE;
    line-height: 22px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.abilities {
    border-bottom: 4px solid #163346;
    color: #eaecf0;
    font-family: 'Teko', sans-serif;
    font-size: 40px;
    font-weight: 400px;
    height: 35px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    width: 235px;
}

.rate {
    color: #eaecf0;
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.svg {
    background-color: transparent;
    display: inline-block;
    right: 45px;
    padding-bottom: 40px;
}

.strength {
    height: 110px;
    width: 111px;
    align-content: center;
    margin-bottom: 19px;
    margin-left: 0px;
    margin-top: 37px;
    margin-right: 0px;
    padding: 0px;
    position: relative;
    left: 85px;
}

.speed {
    border: 0px;
    height: 100px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 40px;
    width: 99px;
    padding: 0;
    position: relative;
    left: 90px;
}

.intelligence {
    border: 0px;
    height: 110px;
    min-width: auto;
    margin-left: 0;
    margin-right: 0;
    margin-top: 40px;
    width: 110px;
    position: relative;
    padding: 0;
    left: 84px;
}

select#strength {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    display: block;
    font-size: 20px;
    height: 73px;
    left: 30px;
    right: 44px;
    width: 240px;
    text-align: center;
    position: relative;
}


select#speed {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 20px;
    height: 73px;
    width: 240px;
}

select#intelligence {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 5px;
    display: block;
    font-size: 20px;
    left: 30px;
    margin-bottom: 104px;
    right: 44px;
    height: 73px;
    width: 240px;
    position: relative;
}


input#confirm {
    margin-bottom: 0px;
    margin-right: 20px;
    margin-top: 48px;
    position: relative;
}

.confirm {
    border-top: 4px solid #163346;
    left: 30px;
    width: 250px;
    position: relative;
}

@media (min-width: 520px) {
    .logo {
        background-color: transparent;
        height: 239px;
        width: 240px;
        margin: 0px;
        padding: 0;
        padding-bottom: 0;
        position: relative;
        left: 120px;
        right: 80px;
    }

    h1 {
        color: black;
        font-family: 'Teko', sans-serif;
        font-size: 48px;
        margin-bottom: 30px;
        margin-top: 20px;
        width: 520px;
        line-height: 45px;
        text-align: center;
        position: relative;
        left: 50px;
    }

    h2 {
        color: #163346;
        font-family: 'Teko', sans-serif;
        font-size: 26px;
        font-weight: 400;
        height: 60px;
        margin-bottom: 57px;
        margin-top: 20px;
        max-width: 520px;
        text-align: center;
        position: relative;
        left: 50px;
    }

    div {
        background-color: #1e2019;
        color: #eaecf0;
        width: 480px;
        height: auto;
        margin: auto;
        padding-bottom: 80px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 15px;
        position: relative;
        left: 12px;
        right: 0px;
    }

    input {
        height: 50px;
        width: 450px;
        left: 16px;
        margin-bottom: 15px;
        margin-top: 12px;
        margin-right: 0px;
    }

    input#age {
        width: 90px;
        display: block;
        margin-top: 5px;
    }

    textarea#selfdescribe {
        margin-bottom: 40px;
        width: 450px;
    }

    textarea#powers {
        height: 175px;
        width: 450px;
    }

    .strength {
        height: 120px;
        width: 120px;
        align-content: center;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 37px;
        margin-bottom: 19px;
        padding: 0px;
        position: relative;
        left: 140px;
    }

    .speed {
        border: 0px;
        height: 150px;
        margin-bottom: 19px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 40px;
        width: 150px;
        position: relative;
        left: 120px;
    }

    select#speed {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        font-size: 20px;
        height: 73px;
        width: 240px;
    }

    select#strength {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        display: block;
        font-size: 20px;
        height: 73px;
        left: 100px;
        right: 44px;
        width: 240px;
        text-align: center;
        position: relative;
    }

    .intelligence {
        border: 0px;
        height: 150px;
        min-width: auto;
        margin-bottom: 48px;
        margin-left: 100px;
        margin-right: 90px;
        margin-top: 40px;
        width: 150px;
        padding: 0;
        position: relative;
        left: 30px;
        right: 20px;
    }

    select#intelligence {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: 5px;
        display: block;
        font-size: 20px;
        left: 100px;
        margin-bottom: 104px;
        right: 44px;
        height: 73px;
        width: 240px;
        position: relative;
    }

    .button-reset {
        background: #6bf99c;
        border: 6px;
        cursor: pointer;
        display: block;
        font-family: 'Teko', sans-serif;
        font-size: 32px;
        font-weight: 700;
        left: 100px;
        right: 80px;
        height: 87px;
        margin-top: 45px;
        padding-bottom: 10px;
        padding-left: 21px;
        padding-right: 20px;
        padding-top: 15px;
        position: relative;
        text-align: center;
    }
}

@media (min-width: 800px) {
    .logo {
        background-color: transparent;
        height: 239px;
        width: 240px;
        left: 265px;
        margin: 0px;
        padding: 0;
        padding-bottom: 0;
        position: relative;
        right: 80px;
        top: 80px;
    }

    h1 {
        color: black;
        font-family: 'Teko', sans-serif;
        font-size: 48px;
        left: 120px;
        margin-bottom: 41px;
        margin-top: 0px;
        max-width: 800px;
        text-align: center;
        position: relative;
        top: 100px;
    }

    h2 {
        color: #163346;
        font-family: 'Teko', sans-serif;
        font-size: 26px;
        font-weight: 400;
        height: 80px;
        left: 120px;
        margin-bottom: 57px;
        margin-top: 20px;
        width: 800px;
        text-align: center;
        position: relative;
        top: 60px;
    }

    h3 {
        border-bottom: 4px solid #163346;
        display: block;
        font-family: 'Teko', sans-serif;
        font-size: 40px;
        height: 50px;
        margin-bottom: 20px;
        margin-top: 0px;
        left: 32px;
        letter-spacing: 1px;
        width: 140px;
        position: relative;
    }

    div {
        background-color: #1e2019;
        color: #eaecf0;
        width: 680px;
        height: auto;
        margin: auto;
        padding-bottom: 80px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 15px;
        position: relative;
        left: 45px;
        right: 0px;
    }

    input {
        height: 70px;
        width: 650px;
        margin-bottom: 15px;
        margin-top: 12px;
        margin-right: 0px;
    }

    .character {
        border-bottom: 4px solid #163346;
        color: #eaecf0;
        font-family: 'Teko', sans-serif;
        font-size: 40px;
        font-weight: 300px;
        letter-spacing: 1px;
        left: 32px;
        line-height: 40px;
        margin-bottom: 25px;
        margin-top: 50px;
        width: 225px;
        position: relative;
    }

    label {
        font-size: 22px;
        left: 32px;
        left: 32px;
        letter-spacing: 1px;
        position: relative;
    }

    input#age {
        width: 90px;
        display: block;
        left: 32px;
        margin-top: 5px;
        margin-bottom: 30px;
        position: relative;
    }

    .category {
        display: inline-block;
        height: 330px;
        width: 271px;
        position: relative;
        left: 32px;

    }

    .gender {
        display: inline-block;
        height: 330px;
        width: 271px;
        position: relative;
        bottom: 435px;
        left: 350px;
    }

    textarea#selfdescribe {
        height: 80px;
        margin-bottom: 40px;
        width: 260px;
    }

    .abilities {
        bottom: 375px;
        border-bottom: 4px solid #163346;
        color: #eaecf0;
        font-family: 'Teko', sans-serif;
        font-size: 40px;
        font-weight: 400px;
        height: 35px;
        letter-spacing: 1px;
        left: 32px;
        margin-bottom: 30px;
        width: 235px;
        position: relative;
    }

    .rate {
        bottom: 605px;
        color: #eaecf0;
        font-size: 22px;
        margin-bottom: 10px;
        margin-top: 10px;
        position: relative;
        left: 32px;
    }

    textarea#powers {
        height: 175px;
        width: 580px;
        position: relative;
        bottom: 380px;
        left: 32px;
        right: 10px;
    }

    .strength {
        bottom: 150px;
        height: 120px;
        width: 120px;
        align-content: center;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 37px;
        margin-bottom: 19px;
        padding: 0px;
        position: relative;
        left: 260px;
    }

    .speed {
        bottom: 50px;
        border: 0px;
        height: 150px;
        margin-bottom: 19px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 40px;
        width: 150px;
        position: relative;
        left: 250px;
    }

    select#speed {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        font-size: 20px;
        height: 73px;
        width: 240px;
        position: relative;
        left: 150px;
        bottom: 50px;
    }

    select#strength {
        bottom: 140px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        display: block;
        font-size: 20px;
        height: 73px;
        left: 200px;
        right: 44px;
        width: 240px;
        text-align: center;
        position: relative;
    }

    .intelligence {
        border: 0px;
        height: 150px;
        min-width: auto;
        margin-bottom: 48px;
        margin-left: 100px;
        margin-right: 90px;
        margin-top: 40px;
        width: 150px;
        padding: 0;
        position: relative;
        left: 150px;
        right: 20px;
    }

    select#intelligence {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: 5px;
        display: block;
        font-size: 20px;
        left: 200px;
        margin-bottom: 104px;
        right: 44px;
        height: 73px;
        width: 240px;
        position: relative;
    }

    .button-reset {
        background: #6bf99c;
        border: 6px;
        cursor: pointer;
        display: block;
        font-family: 'Teko', sans-serif;
        font-size: 32px;
        font-weight: 700;
        left: 100px;
        right: 80px;
        height: 87px;
        margin-top: 45px;
        padding-bottom: 10px;
        padding-left: 21px;
        padding-right: 20px;
        padding-top: 15px;
        position: relative;
        text-align: center;
    }

    input#confirm {
        left: 32px;
        margin-bottom: 0px;
        margin-right: 10px;
        margin-top: 48px;
        position: relative;
        top: 5px;
    }

    .confirm {
        border-top: 4px solid #163346;
        width: 600px;
    }

}

@media (min-width: 920px) {
    .logo {
        background-color: transparent;
        height: 239px;
        width: 240px;
        left: 340px;
        margin: 0px;
        padding: 0;
        padding-bottom: 0;
        position: relative;
        right: 80px;
        top: 80px;
    }

    h1 {
        color: black;
        font-family: 'Teko', sans-serif;
        font-size: 48px;
        left: 190px;
        margin-bottom: 41px;
        margin-top: 0px;
        max-width: 800px;
        text-align: center;
        position: relative;
        top: 100px;
    }

    h2 {
        color: #163346;
        font-family: 'Teko', sans-serif;
        font-size: 26px;
        font-weight: 400;
        height: 80px;
        left: 190px;
        margin-bottom: 57px;
        margin-top: 20px;
        width: 800px;
        text-align: center;
        position: relative;
        top: 60px;
    }

    h3 {
        border-bottom: 4px solid #163346;
        display: block;
        font-family: 'Teko', sans-serif;
        font-size: 40px;
        height: 50px;
        margin-bottom: 20px;
        margin-top: 0px;
        left: 32px;
        letter-spacing: 1px;
        width: 140px;
        position: relative;
    }

    div {
        background-color: #1e2019;
        color: #eaecf0;
        width: 780px;
        height: auto;
        margin: auto;
        padding-bottom: 80px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 15px;
        position: relative;
        left: 60px;
        right: 0px;
    }

    input {
        height: 70px;
        width: 300px;
        left: 62px;
        margin-bottom: 15px;
        margin-top: 12px;
        margin-right: 0px;
        display: block;
    }

    input#alias {
        position: relative;
        left: 32px;
        width: 500px;
    }

    input#real-name {
        position: relative;
        left: 32px;
        width: 500px;
    }

    input#email {
        position: relative;
        left: 32px;
        width: 500px;
    }

    .character {
        border-bottom: 4px solid #163346;
        color: #eaecf0;
        font-family: 'Teko', sans-serif;
        font-size: 40px;
        font-weight: 300px;
        letter-spacing: 1px;
        left: 32px;
        line-height: 40px;
        margin-bottom: 25px;
        margin-top: 50px;
        width: 225px;
        position: relative;
    }

    label {
        font-size: 22px;
        left: 32px;
        left: 32px;
        letter-spacing: 1px;
        position: relative;
    }

    input#age {
        width: 90px;
        display: block;
        left: 32px;
        margin-top: 5px;
        margin-bottom: 30px;
        position: relative;
    }

    fieldset label {
        bottom: 8px;
        position: relative;
        bottom: 40px;
        left: 37px;
    }

    fieldset span {
        display: block;
    }

    fieldset+fieldset {
        margin-top: 34px;
    }

    .category {
        display: inline-block;
        width: 300px;
        position: relative;
        left: 32px;

    }

    .gender {
        display: inline-block;
        width: 350px;
        position: relative;
        bottom: 565px;
        left: 400px;
    }

    textarea#selfdescribe {
        height: 80px;
        margin-bottom: 40px;
        width: 300px;
        bottom: 20px;
    }

    .abilities {
        bottom: 375px;
        border-bottom: 4px solid #163346;
        color: #eaecf0;
        font-family: 'Teko', sans-serif;
        font-size: 40px;
        font-weight: 400px;
        height: 35px;
        letter-spacing: 1px;
        left: 32px;
        margin-bottom: 30px;
        width: 235px;
        position: relative;
    }

    .rate {
        bottom: 580px;
        color: #eaecf0;
        font-size: 22px;
        margin-bottom: 10px;
        margin-top: 10px;
        position: relative;
        left: 32px;
    }

    textarea#powers {
        height: 175px;
        width: 500px;
        /*position: relative;*/
        /* bottom: 300px;*/
    }

    .svg {
        display: inline-block;
        height: 400px;
        /*left: 40px;*/
        width: 200px;
        padding: 0px;
        /*position: absolute;*/
    }

    .strength {
        /* bottom: 150px;*/
        height: 100px;
        width: 100px;
        align-content: center;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 37px;
        margin-bottom: 19px;
        padding: 0px;
        /* position: relative;*/
        /* left: 260px;*/
    }

    .speed {
        /* bottom: 50px;*/
        border: 0px;
        height: 150px;
        margin-bottom: 19px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 40px;
        width: 150px;
        /*position: relative;*/
        /*left: 250px;*/
    }

    select#speed {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        font-size: 20px;
        height: 73px;
        width: 100px;
        /*position: relative;*/
        /*left: 150px;*/
        /*bottom: 50px;*/
    }

    select#strength {
        /*bottom: 140px;*/
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        display: block;
        font-size: 20px;
        height: 73px;
        /*left: 100px;*/
        /*right: 44px;*/
        width: 240px;
        text-align: center;
        /*position: relative;*/
    }

    .intelligence {
        border: 0px;
        height: 150px;
        min-width: auto;
        margin-bottom: 48px;
        margin-left: 100px;
        margin-right: 90px;
        margin-top: 40px;
        width: 150px;
        padding: 0;
        /*position: relative;*/
        /*left: 150px;*/
        /*right: 20px;*/
    }

    select#intelligence {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: 5px;
        display: block;
        font-size: 20px;
        /*left: 200px;*/
        margin-bottom: 104px;
        /*right: 44px;*/
        height: 73px;
        width: 100px;
        /*position: relative;*/
    }

    .button-reset {
        background: #6bf99c;
        border: 6px;
        cursor: pointer;
        display: block;
        font-family: 'Teko', sans-serif;
        font-size: 32px;
        font-weight: 700;
        left: 100px;
        right: 80px;
        height: 87px;
        margin-top: 45px;
        padding-bottom: 10px;
        padding-left: 21px;
        padding-right: 20px;
        padding-top: 15px;
        position: relative;
        text-align: center;
    }

    input#confirm {
        left: 32px;
        margin-bottom: 0px;
        margin-right: 10px;
        margin-top: 48px;
        position: relative;
        top: 5px;
    }

    .confirm {
        border-top: 4px solid #163346;
        width: 600px;
    }

}
