* {
    box-sizing: border-box;
}

body {
    background-color: #111111;
    color: e0e0e0;
    font-family: Rubik, Sans-serif;
    font-weight: 400;
}

.info {
    background-color: #2b2b2b;
    color: #e0e0e0;
    max-width: 500px;
    max-height: 350px;
    padding: 15px;
    position: relative;
    top: 30px;
    left: 425px;

}

img {
    max-width: 500px;
    position: relative;
    top: 40px;
    left: 425px;
}

h2 {
    font-size: 30px;
    font-weight: 450;
    letter-spacing: 1px;
    position: relative;
    bottom: 25px;
    text-align: right;
}

.play {
    background-color: #4c91cd;
    color: #e0e0e0;
    display: block;
    font-size: 20px;
    max-width: 130px;
    padding: 10px;
    position: relative;
    bottom: 80px;
    left: 5px;
    text-align: right;
    text-decoration: none;
}

p {
    font-size: 16px;
    line-height: 25px;
    max-width: 950px;
    position: relative;
    bottom: 60px;
    left: 5px;

}

svg {
    height: 55px;
    width: 50px;
    position: relative;
    left: 425px;
    bottom: 30px;
}

path {
    fill: #e0e0e0;
}

svg:hover path {
    fill: #4c91cd;
}

.star1 {
    height: 25px;
    width: 25px;
    right: 100px;
}

.star2 {
    height: 25px;
    width: 25px;
    right: 10px;
}

.star3 {
    height: 25px;
    width: 25px;
    right: 10px;
}

.star4 {
    height: 25px;
    width: 25px;
    right: 10px;
}

.star5 {
    height: 25px;
    width: 25px;
    right: 10px;
}

.star {
    color: #e0e0e0;
}
